@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.hovered {
  background-color: black;
}

#input-wrapper, 
#options-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

#input-wrapper {
    margin-bottom: 16px;
}

#options-wrapper {
    margin-top: 16px;
}

p {
    margin-top: 8px;
    font-weight: bolder;
    font-style: italic;
}

#meta-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 100%;
}

input {
  border: none;
  border-bottom: solid 1px grey;
  padding: 8px 0px 8px 6px;
  width: 96px;
}

input[type="color"]{
    border: none;
    padding: 0;
    width: 36px;
    margin-left: 16px;
    border-radius: 12px;
    border: 2px black solid;
    box-shadow: 1px 1px 0px 1px rgb(0, 0, 0);
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 0px 1px rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 8px;
  background-color: aliceblue;
  padding: 4px 12px;
  color: black;
}

button:hover {
  background-color: rgb(214, 222, 230);
}

button:active {
    background-color: #ffbf00;
}

button.invalid,
button:hover.invalid,
button:active.invalid {
  transition: background-color 0.2s ease;
  background-color: red;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 32px;
  aspect-ratio: 1 / 1;
  height: 75%;
  overflow: hidden;
}

#wrapper > * {
  flex: 1 1 auto;
  border: 1px black solid;
  aspect-ratio: 1 / 1;
  height: 6.25%;
}
